<div class="ck" ng-controller="airCtrl">
    <div class="title">飞机票信息</div>
    <table id="tab" border="1px" cellspacing="0" cellpadding="0" class="airTab">
        <thead>
        <tr class="headCls">
            <th  class="tId">ID</th>
            <th>起飞时间</th>
            <th>结束时间</th>
            <th>时长</th>
            <th>起飞机场</th>
            <th>结束机场</th>
            <th>价格</th>
            <th>经济舱价格</th>
            <th>头等舱价格</th>
            <th>航班</th>
            <th>经济舱</th>
            <th>头等舱</th>
            <th colspan="2"  class="comfort">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="n in airList">
            <td>{{n.Id}}</td>
            <td>{{n.startTime}}</td>
            <td>{{n.stopTime}}</td>
            <td>{{n.totleTime}}</td>
            <td>{{n.airportSart}}</td>
            <td>{{n.airportEnd}}</td>
            <td>{{n.price}}</td>
            <td>{{n.priceOne}}</td>
            <td>{{n.priceTwo}}</td>
            <td>{{n.flight}}</td>
            <td>{{n.touristOne}}</td>
            <td>{{n.touristTwo}}</td>

            <dialog load-data="data"></dialog>
            <td colspan="2" class="operation">
                <i class="iconfont icon-iconmodify opUp" ng-click="data.isShow=!data.isShow"></i>
                <i class="iconfont icon-shanchu del"></i>
            </td>
        </tr>
        </tbody>
    </table>



</div>